@use "styles/variables" as v;

.wrapper {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: v.$space-xl;
}

.find {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: v.$space-xl;
}

.filter {
  width: 300px;
}

.extraFilters {
  display: flex;
  align-items: center;
  gap: v.$space-xl;
}
