$page-bg: #fafafa;
$navbar-bg: #ffffff;
$navbar-border: #f3f3f3;
$brand: #518581;
$loader-bg: $brand;
$text-primary: #000000;
$text-secondary: #afadb5;
$text-accent: $brand;
$border-radius: 0;
$brand-hover: #86aaa7;
$brand-active: #487773;
$button-primary-text: #ffffff;
$button-primary-bg-disabled: #d9d9d9;
$button-white-primary-text: #000000;
$button-white-border: #afadb5;
$button-white-bg: transparent;
$button-white-bg-disabled: #adadad;
$button-white-bg-active: #cdcdcd;
$button-white-bg-hover: #dfdede;
$checkbox-check: $brand;
$checkbox-bg: #ffffff;
$checkbox-bg-disabled: #ffffff80;
$checkbox-border: #ffffff;
$checkbox-bg-hover: #ffffff;
$checkbox-border-disabled: #ffffff00;
$checkbox-border-hover: $brand;
$checkbox-check-disabled: #00000033;
$input-bg: #ffffff;
$input-border: #ffffff;
$input-bg-focus: #ffffff;
$input-border-focus: $brand;
$input-bg-disabled: #ffffff;
$input-border-disabled: #ffffff;
$input-text: #000000;
$input-text-focus: #000000;
$input-text-disabled: #00000033;
$input-placeholder: #afadb5;
$card-bg: #ffffff;
$card-image-bg: #d9d9d9;
$dropdown-options-bg: #ffffff;
$shadow: 0px 4px 10px 0px #00000040;
$pagination-text-primary: #151411;
$pagination-text-accent: #ffffff;
$pagination-arrow-disabled: #0000004d;
$pagination-bg-active: $brand;
$slider-button-bg: #000000;
$slider-button-shadow: 0px 4px 20px 0px #afadb533;
$slider-arrow: #ffffff;

//Spaces
$space-xxxl: 48px;
$space-xxl: 32px;
$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;
$space-button-v: 17px;
$space-button-h: 32px;
$space-pagination: 15px;
$space-backbutton-v: 12px;
$space-backbutton-h: 13px;

//fonts
$main-font: "Roboto";
$secondary-font: "Eudoxus";

$fs-44: 44px;
$fs-32: 32px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$lh-48: 48px;
$lh-36: 36px;
$lh-24: 24px;
$lh-22: 22px;
$lh-20: 20px;
$lh-18: 18px;
$lh-14: 14px;

$ls-0: 0px;
