@use "styles/variables" as v;

.hiddenCheckbox {
  visibility: hidden;
}

.checkbox {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  background-color: v.$checkbox-bg;
  border: 1px solid v.$checkbox-border;
  color: v.$checkbox-check;

  &:has(.hiddenCheckbox:disabled) {
    color: v.$checkbox-check-disabled;
    background-color: v.$checkbox-bg-disabled;
    border: 1px solid v.$checkbox-border-disabled;
  }

  &:hover,
  &:has(.hiddenCheckbox:focus) {
    background-color: v.$checkbox-bg-hover;
    border: 1px solid v.$checkbox-border-hover;
  }
}

.checkIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
